header {
	background-color: $quaternary;
}

.flexContainer {
	display: flex;
	flex-direction: row;
	height: 28rem;
	.homeImgContainer {
		width: 35%;
		margin-top: 40px;
		img {
			width: 100%;
			box-shadow: 20px 20px $pureWhite;
		}
	}
	.homeLogoContainer {
		width: calc(65%-7rem);
		h1 {
			margin: 280px 0px 0px 100px;
			position: relative;
		}
		h1::after {
			content: url(../assets/circle-text.png);
			position: absolute;
			top: -118px;
			right: -55px;
		}
	}
}

.headerImage {
	background-color: $white;
	img {
		width: 100%;
	}
}

.contactHeaderImage::after {
	content: "CONTACT ME";
	color: $black;
	font-family: $headingFont;
	line-height: 92px;
	letter-spacing: 1px;
	font-size: 4rem;
	position: relative;
	top: -63px;
	left: 40px;
}

.blogHeaderImage::after {
	content: "BLOG";
	color: $black;
	font-family: $headingFont;
	line-height: 92px;
	letter-spacing: 1px;
	font-size: 4rem;
	position: relative;
	top: -60px;
	left: 100px;
}
