/* CONTACT PAGE STYLING */
@media (max-width: 1440px) {
	.formContainer form input[type="text"],
	.formContainer form input[type="email"] {
		width: 100%;
	}
	.formContainer form input[type="email"] {
		margin-left: 0px;
	}
}

@media (max-width: 1000px) {
	.contact .wrapper {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		.addressAndSocialsAside {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 30px;
			border-bottom: 3px solid $primary;
			border-radius: 10px;
		}
		.formContainer {
			width: 100%;
			margin-left: 0px;
		}
		.socialsBar {
			font-size: 2rem;
			padding-bottom: 20px;
		}
		.submitButton {
			margin-bottom: 30px;
		}
	}
	.contactHeaderImage::after {
		font-size: 3rem;
		line-height: 60px;
		top: -40px;
	}
	.formContainer form input[type="text"],
	.formContainer form input[type="email"],
	textarea {
		border-radius: 10px;
	}

	/* BLOG SECTION VERTICAL VIEW */

	.blog .wrapper {
		// Push Harper's info to the bottom
		.blogAside {
			order: 1;
		}
		flex-direction: column;
		flex-wrap: wrap;
		.blogAside {
			width: 100%;
			margin-bottom: 50px;
		}
		.firstAsideSection,
		.secondAsideSection {
			border-radius: 10px;
			border: 3px solid $quaternary;
		}
		.asideImgContainer {
			display: flex;
			flex-direction: row;
			justify-content: center;
			img {
				width: 30%;
				box-shadow: 5px 5px 15px 1px $black;
			}
		}
		.asideTextContainer,
		.secondAsideSection {
			display: flex;
			flex-direction: column;
			align-items: center;
			h4 {
				margin: 25px 0px 25px;
				font-size: 1.8rem;
			}
			p {
				margin: 0;
				text-align: center;
			}
			a {
				text-decoration: underline;
			}
		}
		.secondAsideSection {
			margin-bottom: 30px;
			text-align: center;
			ul {
				list-style: none;
			}
		}
		.blogContent {
			border-top: 3px solid $primary;
			width: 100%;
			button {
				margin-bottom: 60px;
			}
		}
		.blogComment {
			border-radius: 10px;
		}
		.dateText {
			font-weight: bold;
			padding-bottom: 2px;
			border-bottom: 2px solid $white;
		}
	}
}

/* Universal styling */

@media (max-width: 800px) {
	.pageNav {
		display: none;
	}
	.slideOutNav {
		display: block;
	}
}

@media (max-width: 400px) {
	// show mini baby navbar
}
