/* CONTACT PAGE STYLING */
@media (max-width: 1440px) {
	.formContainer form input[type="text"],
	.formContainer form input[type="email"] {
		width: 100%;
	}
	.formContainer form input[type="email"] {
		margin-left: 0px;
	}
}

/* STYLING FOR HOME PAGE */
@media (max-width: 1200px) {
	.home .flexContainer {
		.homeImgContainer {
			width: 40%;
		}
		.homeLogoContainer {
			h1 {
				font-size: 5rem;
				margin-left: 5rem;
				&::after {
					transform: scale(70%);
					top: -101px;
					right: -59px;
				}
			}
		}
	}
	.blogPreviewSection {
		.firstBlogPostWrapper .blogPreviewImgContainer {
			box-shadow: none;
			img {
				box-shadow: 20px 20px $primary;
			}
		}
		.secondBlogPostWrapper .blogPreviewImgContainer {
			box-shadow: none;
			img {
				box-shadow: 20px 20px $quaternary;
			}
		}
	}
}

/* home header changes */
@media (max-width: 1000px) {
	.contact .wrapper {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		.addressAndSocialsAside {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 30px;
			border-bottom: 3px solid $primary;
			border-radius: 10px;
			text-align: center;
		}
		.formContainer {
			width: 100%;
			margin-left: 0px;
		}
		.socialsBar {
			font-size: 2rem;
			padding-bottom: 20px;
		}
		.submitButton {
			margin-bottom: 30px;
		}
	}
	.contactHeaderImage::after {
		font-size: 3rem;
		line-height: 60px;
		top: -40px;
	}
	.formContainer form input[type="text"],
	.formContainer form input[type="email"],
	textarea {
		border-radius: 10px;
	}

	/* BLOG SECTION VERTICAL VIEW */

	.blog .wrapper {
		// Push Harper's info to the bottom
		.blogAside {
			order: 1;
		}
		flex-direction: column;
		flex-wrap: wrap;
		.blogAside {
			width: 100%;
			margin-bottom: 50px;
		}
		.firstAsideSection,
		.secondAsideSection {
			border-radius: 10px;
			border: 3px solid $quaternary;
		}
		.asideImgContainer {
			display: flex;
			flex-direction: row;
			justify-content: center;
			img {
				width: 30%;
				box-shadow: 5px 5px 15px 1px $black;
			}
		}
		.asideTextContainer,
		.secondAsideSection {
			display: flex;
			flex-direction: column;
			align-items: center;
			h4 {
				margin: 25px 0px 25px;
				font-size: 1.8rem;
			}
			p {
				margin: 0;
				text-align: center;
			}
			a {
				text-decoration: underline;
			}
		}
		.secondAsideSection {
			margin-bottom: 30px;
			text-align: center;
			ul {
				list-style: none;
			}
		}
		.blogContent {
			border-top: 3px solid $primary;
			width: 100%;
			button {
				margin-bottom: 60px;
			}
		}
		.blogComment {
			border-radius: 10px;
		}
		.dateText {
			font-weight: bold;
			padding-bottom: 2px;
			border-bottom: 2px solid $white;
		}
	}

	.home {
		.flexContainer {
			flex-direction: column;
			align-items: center;
			height: 30rem;
			.homeLogoContainer {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.pageHeading {
					margin: 15rem 0 0;
				}
			}
		}
	}

	.homeImgContainer {
		display: none;
	}

	.aboutSection {
		padding: 70px 0;
		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			.aboutTextContainer {
				display: flex;
				flex-direction: column;
				width: 100%;
				align-items: center;
			}
			.harperImageContainer {
				width: 50%;
				display: inline-block;
				margin-bottom: 60px;
				img {
					width: 100%;
					box-shadow: 5px 5px 15px 1px $black;
				}
			}
			h2 {
				font-size: 2rem;
			}
			.smallCopy {
				margin: 30px 0 35px;
				text-align: center;
			}
		}
	}

	.linksSection .wrapper {
		.itemCard {
			width: 100%;
			flex-direction: column;
			.itemCardIcon {
				display: flex;
				justify-content: center;
				margin-bottom: 10px;
			}
			.itemCardContent {
				padding: 0px 0px 50px 0px;
				text-align: center;
			}
		}
	}

	.blogPreviewSection {
		padding: 70px 0;
		.firstBlogPostWrapper,
		.secondBlogPostWrapper {
			flex-direction: column;
			align-items: center;
			.blogPreviewImgContainer {
				width: 60%;
				top: 0px;
				margin: 50px 0 50px;
			}
			.blogPreviewTextContainer {
				width: 100%;
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 0;
				h3,
				p,
				a {
					align-self: center;
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
		.secondBlogPostWrapper {
			.blogPreviewImgContainer {
				order: -1;
			}
		}
	}

	.harpersJourney {
		padding: 60px 0;
		.wrapper {
			flex-direction: column;
			align-items: center;
			.harpersJourneyImgContainer {
				display: flex;
				justify-content: center;
				width: 50%;
				margin-bottom: 30px;
				img {
					box-shadow: 10px 10px 0px 1px $secondary;
				}
			}
			.harpersJourneyTextContainer {
				margin-left: 0;
				width: 100%;
				h2,
				p,
				a {
					text-align: center;
				}
				a {
					width: 100%;
				}
				h2 {
					line-height: 42px;
				}
			}
		}
	}
	.blogHeaderImage::after {
		content: "HARPER'S BLOG";
		left: 5%;
	}
}

/* Universal styling across all pages - show navbar when viewport width is small enough */

@media (max-width: 820px) {
	.pageNav {
		display: none;
	}
	.mobileNav {
		display: block;
	}

	.imgGallery {
		flex-direction: column;
		.imgGalleryItem {
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}
}

// Adjust header for very small devices

@media (max-width: 440px) {
	.home .flexContainer .homeLogoContainer {
		h1 {
			font-size: 3rem;
			&::after {
				transform: scale(40%);
				top: -86px;
				right: -73px;
			}
		}
	}
	.contactHeaderImage::after {
		font-size: 1.4rem;
		left: 15px;
	}
	.blogHeaderImage::after {
		content: "HARPER'S BLOG";
		font-size: 1.3rem;
		left: 10%;
	}
	.blogCommentImgContainer img {
		display: none;
	}
	.asideTextContainer h4 {
		text-align: center;
	}
}

// Only enable smooth scrolling if user does not have reduced motion preferences!
@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}
