.pageNav {
	background-color: $quaternary;
	padding: 30px 0px 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	li {
		padding: 0px 25px;
		a {
			color: $black;
			transition: color 0.2 5s;
			&:focus,
			&:hover {
				color: $white;
				transition: color 0.5s;
			}
			&:focus {
				border: 1px dashed $white;
			}
		}
	}
}
