.pageNav {
	background-color: $quaternary;
	padding: 30px 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 10;
	li {
		padding: 0px 25px;
		a {
			color: $black;
			transition: color 0.25s;
			&:focus,
			&:hover,
			&:active {
				color: $white;
				transition: color 0.25s;
				filter: drop-shadow(1px 1px 1px $black);
			}
		}
	}
}

.mobileNav {
	display: none;
	position: fixed;
	top: 50px;
	right: 50px;
	z-index: 30;
	li {
		position: relative;
	}
	.iconItem {
		padding: 7px 14px;
		border-radius: 50%;
		transform: scale(200%);
		background-color: rgba($tertiary, 0.75);
		filter: drop-shadow(1px 1px 1px $black);
	}
	.subMenu {
		background: rgba($black, 0.5);
		border-radius: 5%;
		position: absolute;
		height: 0;
		overflow: hidden;
		li {
			padding: 5px 0px;
			a {
				color: $white;
				font-style: $headingFont;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.iconContainer {
		transition: height 0.5s ease-in-out;
		color: $white;
		li:hover,
		li:focus-within,
		li:active .subMenu {
			cursor: pointer;
			color: $quaternary;
			transition: color 0.25s;
		}

		li:hover .subMenu,
		li:focus-within .subMenu,
		li:active .subMenu {
			padding: 20px;
			height: auto;
			transition: height 0.5s ease-in-out;
			right: 0px;
		}
	}
}
