.aboutSection {
	background-color: $white;
	padding: 125px 0px;
	.wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		.aboutTextContainer {
			width: 55%;
			margin: 0;
		}
	}
}

.fullBleedImage {
	object-fit: cover;
	line-height: 0px;
	img {
		max-width: 100%;
	}
}

.linksSection {
	background-color: $white;
	padding: 100px 0;
	.wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		.itemCard {
			padding: 0px 25px;
			width: calc(50% - 50px);
			display: flex;
			flex-direction: row;
		}
	}
	.itemCardContent {
		padding: 0px 0px 50px 25px;
	}
	.itemCardShadow {
		width: 50px;
		height: 50px;
		background-color: $quaternary;
		border-radius: 50%;
		position: relative;
		i {
			position: absolute;
			top: 15px;
			right: 15px;
		}
	}
}

.blogPreviewSection {
	.wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		img {
			width: 100%;
			object-fit: cover;
		}
	}

	.blogPreviewTextContainer {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: calc(50% - 50px);
	}
	.blogPreviewImgContainer {
		width: 50%;
	}
	.firstBlogPostWrapper {
		.blogPreviewTextContainer {
			margin-left: 50px;
		}
		a {
			align-self: flex-start;
			margin-left: 50px;
		}
		p {
			margin-left: 50px;
		}
		h3 {
			align-self: flex-start;
			margin-left: 50px;
		}
		.blogPreviewImgContainer {
			position: relative;
			top: -40px;
			box-shadow: -300px 11px $primary;
			img {
				max-width: 100%;
				box-shadow: 20px 20px $primary, 0px 15px $primary;
				object-fit: cover;
			}
		}
	}
	.secondBlogPostWrapper {
		a {
			align-self: flex-end;
			margin-right: 50px;
		}
		h3 {
			align-self: flex-end;
			margin-right: 50px;
		}
		p {
			margin-right: 50px;
		}
		.blogPreviewImgContainer {
			position: relative;
			top: 60px;
			box-shadow: 300px 11px $quaternary;
			img {
				max-width: 100%;
				box-shadow: 20px 20px $quaternary;
				object-fit: cover;
			}
		}
	}
}

.harpersJourney {
	background-color: $white;
	padding: 200px 0 100px;
	.wrapper {
		display: flex;
		flex-direction: row;
		.harpersJourneyImgContainer {
			width: calc(35% - 100px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			img {
				max-width: 100%;
				object-fit: cover;
				box-shadow: 10px 10px 0px 2px $tertiary;
			}
		}
		.harpersJourneyTextContainer {
			width: 65%;
			margin-left: 100px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: left;
			h2 {
				padding-bottom: 15px;
			}

			p {
				padding-bottom: 10px;
			}
		}
	}
}

.imgGallery {
	padding: 80px 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	.imgGalleryItem {
		padding: 15px;
		width: calc(100% / 3 - 15px);
		img {
			object-fit: cover;
			max-width: 100%;
		}
	}
}
