.aboutSection {
	background-color: $white;
	padding: 125px 0px;
	.wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		.aboutTextContainer {
			width: 55%;
			margin: 0;
		}
	}
	.harperImageContainer {
		display: none;
	}
}

.fullBleedImage {
	object-fit: cover;
	line-height: 0px;
	img {
		width: 100%;
	}
}

.linksSection {
	background-color: $white;
	padding: 100px 0;
	.wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		.itemCard {
			padding: 0px 25px;
			width: calc(50% - 50px);
			display: flex;
			flex-direction: row;
		}
	}
	.itemCardContent {
		padding: 0px 0px 50px 25px;
	}
	.itemCardShadow {
		width: 50px;
		height: 50px;
		background-color: $quaternary;
		border-radius: 50%;
		position: relative;
		i {
			position: absolute;
			top: 15px;
			right: 15px;
		}
		.fa-tv {
			top: 17px;
			right: 13px;
		}
		.fa-user {
			right: 16px;
		}
	}
}

.blogPreviewSection {
	.wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		img {
			width: 100%;
			object-fit: cover;
		}
	}

	.blogPreviewTextContainer {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: calc(50% - 50px);
	}
	.blogPreviewImgContainer {
		width: 50%;
	}
	.firstBlogPostWrapper {
		.blogPreviewTextContainer {
			margin-left: 50px;
		}
		a {
			align-self: flex-start;
			margin-left: 50px;
		}
		p {
			margin-left: 50px;
		}
		h3 {
			align-self: flex-start;
			margin-left: 50px;
		}
		.blogPreviewImgContainer {
			position: relative;
			top: -40px;
			box-shadow: -300px 11px $primary;
			img {
				max-width: 100%;
				box-shadow: 20px 20px $primary, 0px 15px $primary;
				object-fit: cover;
			}
		}
	}
	.secondBlogPostWrapper {
		a {
			align-self: flex-end;
			margin-right: 50px;
		}
		h3 {
			align-self: flex-end;
			margin-right: 50px;
		}
		p {
			margin-right: 50px;
		}
		.blogPreviewImgContainer {
			position: relative;
			top: 60px;
			box-shadow: 300px 11px $quaternary;
			img {
				max-width: 100%;
				box-shadow: 20px 20px $quaternary;
				object-fit: cover;
			}
		}
	}
}

.harpersJourney {
	background-color: $white;
	padding: 200px 0 100px;
	.wrapper {
		display: flex;
		flex-direction: row;
		.harpersJourneyImgContainer {
			width: calc(35% - 100px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			img {
				max-width: 100%;
				object-fit: cover;
				box-shadow: 10px 10px 0px 2px $tertiary;
			}
		}
		.harpersJourneyTextContainer {
			width: 65%;
			margin-left: 100px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: left;
			h2 {
				padding-bottom: 15px;
			}

			p {
				padding-bottom: 10px;
			}
		}
	}
}

// .imgGallery {
// 	padding: 80px 0;
// 	display: flex;
// 	flex-wrap: wrap;
// 	flex-direction: row;
// 	justify-content: space-between;
// 	.imgGalleryItem {
// 		padding: 15px;
// 		width: calc(100% / 3 - 15px);
// 		img {
// 			object-fit: cover;
// 			max-width: 100%;
// 		}
// 		transition: border-radius 0.25s, opacity 0.25s;
// 		a:hover,
// 		a:focus,
// 		a:active {
// 			opacity: 0.8;
// 			cursor: pointer;
// 			filter: drop-shadow(1px 1px 2px $black);
// 			border: transparent;
// 			img {
// 				border-radius: 5%;
// 				transition: border-radius 0.25s, opacity 0.25s;
// 			}
// 		}
// 	}
// }

/* contact page styling */
.contact {
	background-color: $white;
	.wrapper {
		display: flex;
		flex-direction: row;
	}
	.contactHeaderImg {
		height: 25vh;
	}
}

.socialsBar {
	display: flex;
	flex-direction: row;
	padding-top: 30px;
	a {
		padding-right: 30px;
		opacity: 1;
		transition: color 0.3s;
		color: $tertiary;
		&:hover,
		&:focus,
		&:active {
			color: $secondary;
			transition: color 0.3s;
			filter: drop-shadow(1px 1px 1px $secondary);
		}
	}
}

.addressAndSocialsAside {
	padding: 30px;
	background-color: $pureWhite;
	width: calc(30% - 30px);
	height: 100%;
	.telephoneNumber {
		color: $black;
		transition: color 0.25s;
		&:hover,
		&:focus,
		&:active {
			color: $secondary;
			transition: color 0.25s;
		}
	}
	.emailAddress {
		color: $black;
		transition: color 0.25s;
		&:hover,
		&:focus,
		&:active {
			color: $secondary;
			transition: color 0.25s;
		}
	}
}

.formContainer {
	width: calc(70% - 20px);
	margin-left: 20px;
	form {
		display: flex;
		flex-direction: column;
		display: inline-block;
		.formTextInput {
			width: calc(50% - 15px);
			padding: 15px;
			height: 60px;
			margin-bottom: 20px;
			border: transparent;
		}
		input[type="email"] {
			margin-left: 20px;
		}
		textarea {
			width: 100%;
			height: 300px;
			padding: 15px;
			resize: none;
			border: transparent;
			margin-bottom: 25px;
			padding-top: 30px;
		}
		button {
			margin-bottom: 100px;
			opacity: 1;
			transition: opacity 0.25s, box-shadow 0.25s, color 0.25s;
			width: 100%;
			&:hover,
			&:focus,
			&:active {
				opacity: 0.9;
				box-shadow: 0px 0px 5px 2px $secondary;
				color: $white;
				transition: opacity 0.25s, box-shadow 0.25s, color 0.25s;
				cursor: pointer;
			}
		}
	}
}

/* Blog page styling goes here */

.blog {
	background-color: $white;
	.wrapper {
		display: flex;
		flex-direction: row;
	}
}

.blogAside {
	width: calc(35% - 60px);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 60px;
	.asideImgContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		img {
			width: 100%;
			object-fit: contain;
		}
	}
	.firstAsideSection,
	.secondAsideSection {
		background-color: $pureWhite;
		padding: 25px;
		width: 100%;
	}
	.firstAsideSection {
		h3 {
			padding-top: 30px;
		}
		p {
			margin-bottom: 0;
		}
		a {
			color: black;
			transition: color 0.15s;
			&:hover,
			&:focus,
			&:active {
				color: $tertiary;
				transition: color 0.15s;
				text-decoration: underline;
			}
		}
	}
	.secondAsideSection {
		margin-top: 20px;
		ul {
			padding-left: 20px;
			list-style: inside;
		}
		a {
			color: black;
			transition: color 0.15s;
			&:hover,
			&:focus,
			&:active {
				color: $tertiary;
				transition: color 0.15s;
				text-decoration: underline;
			}
		}
		h4 {
			margin-top: 10px;
		}
	}
}

.blogContent {
	width: 65%;
	.blogPost {
		background-color: $pureWhite;
		padding: 30px;
		padding-bottom: 60px;
		border-bottom: 5px solid $tertiary;
		h2 {
			margin: 20px 0px 30px;
		}
	}

	.blogComment {
		padding: 20px 30px;
		display: flex;
		flex-direction: row;
		background-color: $pureWhite;
		margin-top: 20px;
		.blogCommentImgContainer {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		p {
			margin: 0px;
		}
		.dateText {
			padding-top: 15px;
		}
		.commentText {
			padding-bottom: 20px;
		}
	}

	.blogCommentTextContainer {
		padding: 0px 20px 0px 20px;
	}

	.commentSection {
		border-bottom: 5px solid $tertiary;
		margin: 50px 0px 50px;
	}
}

.commentsForm {
	width: 100%;
	margin-left: 0;
	input[type="email"] {
		margin-left: 15px;
	}
}

.backToTop,
.backToTop:visited {
	display: none;
	position: fixed;
	bottom: 50px;
	left: 50px;
	color: $secondary;
	opacity: 100%;
	transform: scale(400%);
	transition: opacity 0.3s;
	&:hover {
		opacity: 50%;
		transition: opacity 0.3s;
	}
}

.gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px 0 60px;

	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.carouselContainer {
		position: relative;
		background: $white;
		border-radius: 2%;
		box-shadow: 2px 2px 10px $black;
		width: 400px;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		flex-direction: row;
		position: relative;
	}

	.carouselNext {
		right: -30px;
	}

	.carouselPrevious {
		left: -30px;
	}

	li {
		display: none;
		padding: 15px;
	}

	li img {
		width: 100%;
		object-fit: contain;
	}

	.currentlyActive {
		display: block;
	}

	a {
		position: absolute;
		top: 50%;
		z-index: 10;
		transform: scale(300%);
		color: $secondary;
		transition: opacity 0.5s, color 0.5s, filter 0.25s;
	}

	a:hover,
	a:focus {
		opacity: 70%;
		cursor: pointer;
		color: $secondary;
		filter: drop-shadow(2px 2px 1px black);
		transition: opacity 0.5s, color 0.5s, filter 0.25s;
	}

	.fade {
		animation: fade;
		animation-duration: 0.75s;
	}
}

@keyframes fade {
	0% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}
