html {
	font-size: 125%;
}

body {
	font-family: $bodyFont;
	font-size: 1rem;
	color: $black;
	letter-spacing: 0px;
	line-height: 32px;
}

h1,
h2,
h3 {
	font-family: $headingFont;
	letter-spacing: 1px;
	color: $black;
}

h1 {
	margin: 0;
	font-size: 7rem;
}

a {
	text-decoration: none;
}

.pageNav {
	font-weight: bold;
	font-family: $headingFont;
	line-height: 29px;
	letter-spacing: 1px;
	text-transform: uppercase;
	a {
		font-size: 1rem;
	}
	.navLogo {
		font-size: 2rem;
		p {
			margin: 0;
		}
	}
}

.footerText {
	color: $white;
	margin: 0;
	padding: 15px 0;
}

h2 {
	font-family: $headingFont;
	font-size: 2.1rem;
	color: $black;
	letter-spacing: 1px;
	margin: 0;
}

.smallCopy {
	margin: 30px 0 50px;
	font-family: $bodyFont;
	color: $black;
	line-height: 32px;
	letter-spacing: 0px;
}

.smallButton {
	font-family: $headingFont;
	font-size: 1rem;
	line-height: 32px;
	text-align: center;
	letter-spacing: 1px;
	color: $black;
	background-color: $secondary;
	padding: 15px 50px;
	opacity: 1;
	transition: opacity 0.5s;
	&:hover,
	&:focus {
		opacity: 0.75;
		transition: opacity 0.5s;
	}
}

h3 {
	font-family: $headingFont;
	font-size: 1.6rem;
	letter-spacing: 1px;
	color: $black;
	margin: 0;
	padding-top: 7px;
}

.linksSection {
	.itemCardContent {
		a {
			opacity: 1;
			transition: opacity 0.5s;
			&:hover,
			&:focus {
				opacity: 0.5;
				transition: opacity 0.5s;
			}
		}
	}
}

.harpersJourney {
	.smallButton {
		width: 300px;
	}
}

.blogPreviewSection {
	a {
		width: 250px;
	}
}
