/* site fonts */
$headingFont: "Oswald", sans-serif;
$bodyFont: "Cabin", sans-serif;

/* base font size, 20px - 125% - 1rem */
$baseFontSize: 1rem;

/* site colours */
$primary: #68b0c1;
$secondary: #f38d8d;
$tertiary: #227284;
$quaternary: #b9dde7;
$white: #f6f6f6;
$black: #171717;
$pureWhite: #ffffff;
$pureBlack: #000000;
