html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* site fonts */
/* base font size, 20px - 125% - 1rem */
/* site colours */
html {
  font-size: 125%;
}

body {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  color: #171717;
}

h1 {
  margin: 0;
  font-size: 7rem;
}

a {
  text-decoration: none;
}

.pageNav {
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.pageNav a {
  font-size: 1rem;
}
.pageNav .navLogo {
  font-size: 2rem;
}
.pageNav .navLogo p {
  margin: 0;
}

.footerText {
  color: #f6f6f6;
  margin: 0;
  padding: 15px 0;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.1rem;
  color: #171717;
  letter-spacing: 1px;
  margin: 0;
}

.smallCopy {
  margin: 30px 0 50px;
  font-family: "Cabin", sans-serif;
  color: #171717;
  line-height: 32px;
  letter-spacing: 0px;
}

.smallButton {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  line-height: 32px;
  text-align: center;
  letter-spacing: 1px;
  color: #171717;
  background-color: #f38d8d;
  padding: 15px 50px;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.smallButton:hover, .smallButton:focus, .smallButton:active {
  opacity: 0.75;
  color: #f6f6f6;
  -webkit-box-shadow: 0px 0px 5px 2px #f38d8d;
          box-shadow: 0px 0px 5px 2px #f38d8d;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #171717;
  margin: 0;
  padding-top: 7px;
}

.linksSection .itemCardContent h3 {
  color: #171717;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.linksSection .itemCardContent h3:hover, .linksSection .itemCardContent h3:focus, .linksSection .itemCardContent h3:active {
  color: #227284;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
  -webkit-filter: drop-shadow(1px 1px 5px #b9dde7);
          filter: drop-shadow(1px 1px 5px #b9dde7);
}

.harpersJourney .smallButton {
  width: 300px;
}

.blogPreviewSection a {
  width: 210px;
}

.socialsBar {
  font-size: 1.3rem;
}

.addressAndSocialsAside p {
  margin: 0;
}
.addressAndSocialsAside .emailAddress {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  line-height: 29px;
  letter-spacing: 1px;
}
.addressAndSocialsAside .emailAddress p {
  padding: 12px 0;
}

form legend {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.formContainer button {
  background: #f38d8d;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 1px;
  padding: 20px 50px;
  border: transparent;
}

h4 {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 1px;
}

header {
  background-color: #b9dde7;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 28rem;
}
.flexContainer .homeImgContainer {
  width: 35%;
  margin-top: 40px;
}
.flexContainer .homeImgContainer img {
  width: 100%;
  -webkit-box-shadow: 20px 20px #ffffff;
          box-shadow: 20px 20px #ffffff;
}
.flexContainer .homeLogoContainer {
  width: calc(65%-7rem);
}
.flexContainer .homeLogoContainer h1 {
  margin: 280px 0px 0px 100px;
  position: relative;
}
.flexContainer .homeLogoContainer h1::after {
  content: url(../assets/circle-text.png);
  position: absolute;
  top: -118px;
  right: -55px;
}

.headerImage {
  background-color: #f6f6f6;
}
.headerImage img {
  width: 100%;
  height: 100%;
}

.contactHeaderImage::after {
  content: "CONTACT ME";
  color: #171717;
  font-family: "Oswald", sans-serif;
  line-height: 92px;
  letter-spacing: 1px;
  font-size: 4rem;
  position: relative;
  top: -63px;
  left: 40px;
}

.blogHeaderImage::after {
  content: "BLOG";
  color: #171717;
  font-family: "Oswald", sans-serif;
  line-height: 92px;
  letter-spacing: 1px;
  font-size: 4rem;
  position: relative;
  top: -60px;
  left: 100px;
}

.pageNav {
  background-color: #b9dde7;
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pageNav li {
  padding: 0px 25px;
}
.pageNav li a {
  color: #171717;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.pageNav li a:focus, .pageNav li a:hover, .pageNav li a:active {
  color: #f6f6f6;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  -webkit-filter: drop-shadow(1px 1px 1px #171717);
          filter: drop-shadow(1px 1px 1px #171717);
}

.aboutSection {
  background-color: #f6f6f6;
  padding: 125px 0px;
}
.aboutSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.aboutSection .wrapper .aboutTextContainer {
  width: 55%;
  margin: 0;
}

.fullBleedImage {
  -o-object-fit: cover;
     object-fit: cover;
  line-height: 0px;
}
.fullBleedImage img {
  width: 100%;
}

.linksSection {
  background-color: #f6f6f6;
  padding: 100px 0;
}
.linksSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.linksSection .wrapper .itemCard {
  padding: 0px 25px;
  width: calc(50% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.linksSection .itemCardContent {
  padding: 0px 0px 50px 25px;
}
.linksSection .itemCardShadow {
  width: 50px;
  height: 50px;
  background-color: #b9dde7;
  border-radius: 50%;
  position: relative;
}
.linksSection .itemCardShadow i {
  position: absolute;
  top: 15px;
  right: 15px;
}

.blogPreviewSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blogPreviewSection .wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogPreviewSection .blogPreviewTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(50% - 50px);
}
.blogPreviewSection .blogPreviewImgContainer {
  width: 50%;
}
.blogPreviewSection .firstBlogPostWrapper .blogPreviewTextContainer {
  margin-left: 50px;
}
.blogPreviewSection .firstBlogPostWrapper a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 50px;
}
.blogPreviewSection .firstBlogPostWrapper p {
  margin-left: 50px;
}
.blogPreviewSection .firstBlogPostWrapper h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 50px;
}
.blogPreviewSection .firstBlogPostWrapper .blogPreviewImgContainer {
  position: relative;
  top: -40px;
  -webkit-box-shadow: -300px 11px #68b0c1;
          box-shadow: -300px 11px #68b0c1;
}
.blogPreviewSection .firstBlogPostWrapper .blogPreviewImgContainer img {
  max-width: 100%;
  -webkit-box-shadow: 20px 20px #68b0c1, 0px 15px #68b0c1;
          box-shadow: 20px 20px #68b0c1, 0px 15px #68b0c1;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogPreviewSection .secondBlogPostWrapper a {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 50px;
}
.blogPreviewSection .secondBlogPostWrapper h3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 50px;
}
.blogPreviewSection .secondBlogPostWrapper p {
  margin-right: 50px;
}
.blogPreviewSection .secondBlogPostWrapper .blogPreviewImgContainer {
  position: relative;
  top: 60px;
  -webkit-box-shadow: 300px 11px #b9dde7;
          box-shadow: 300px 11px #b9dde7;
}
.blogPreviewSection .secondBlogPostWrapper .blogPreviewImgContainer img {
  max-width: 100%;
  -webkit-box-shadow: 20px 20px #b9dde7;
          box-shadow: 20px 20px #b9dde7;
  -o-object-fit: cover;
     object-fit: cover;
}

.harpersJourney {
  background-color: #f6f6f6;
  padding: 200px 0 100px;
}
.harpersJourney .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.harpersJourney .wrapper .harpersJourneyImgContainer {
  width: calc(35% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.harpersJourney .wrapper .harpersJourneyImgContainer img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 10px 10px 0px 2px #227284;
          box-shadow: 10px 10px 0px 2px #227284;
}
.harpersJourney .wrapper .harpersJourneyTextContainer {
  width: 65%;
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}
.harpersJourney .wrapper .harpersJourneyTextContainer h2 {
  padding-bottom: 15px;
}
.harpersJourney .wrapper .harpersJourneyTextContainer p {
  padding-bottom: 10px;
}

.imgGallery {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.imgGallery .imgGalleryItem {
  padding: 15px;
  width: calc(100% / 3 - 15px);
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.imgGallery .imgGalleryItem img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
.imgGallery .imgGalleryItem a:hover,
.imgGallery .imgGalleryItem a:focus,
.imgGallery .imgGalleryItem a:active {
  opacity: 0.8;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  cursor: pointer;
  -webkit-filter: drop-shadow(1px 1px 2px #171717);
          filter: drop-shadow(1px 1px 2px #171717);
  border: transparent;
}
.imgGallery .imgGalleryItem a:hover img,
.imgGallery .imgGalleryItem a:focus img,
.imgGallery .imgGalleryItem a:active img {
  border-radius: 10%;
  -webkit-transition: border-radius 0.25s;
  transition: border-radius 0.25s;
}

/* contact page styling */
.contact {
  background-color: #f6f6f6;
  height: 50vh;
}
.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.socialsBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 30px;
}
.socialsBar a {
  padding-right: 30px;
  opacity: 1;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #227284;
}
.socialsBar a:hover, .socialsBar a:focus, .socialsBar a:active {
  color: #f38d8d;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-filter: drop-shadow(1px 1px 1px #f38d8d);
          filter: drop-shadow(1px 1px 1px #f38d8d);
}

.addressAndSocialsAside {
  padding: 30px;
  background-color: #ffffff;
  width: calc(30% - 30px);
  height: 100%;
}
.addressAndSocialsAside .telephoneNumber {
  color: #171717;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.addressAndSocialsAside .telephoneNumber:hover, .addressAndSocialsAside .telephoneNumber:focus, .addressAndSocialsAside .telephoneNumber:active {
  color: #f38d8d;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.addressAndSocialsAside .emailAddress {
  color: #171717;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.addressAndSocialsAside .emailAddress:hover, .addressAndSocialsAside .emailAddress:focus, .addressAndSocialsAside .emailAddress:active {
  color: #f38d8d;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.formContainer {
  width: calc(70% - 20px);
  margin-left: 20px;
}
.formContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: inline-block;
}
.formContainer form .formTextInput {
  width: calc(50% - 15px);
  padding: 15px;
  height: 60px;
  margin-bottom: 30px;
  border: transparent;
}
.formContainer form input[type=email] {
  margin-left: 20px;
}
.formContainer form textarea {
  width: 100%;
  height: 300px;
  padding: 15px;
  resize: none;
  border: transparent;
  margin-bottom: 25px;
  padding-top: 30px;
}
.formContainer form button {
  margin-bottom: 100px;
  opacity: 1;
  -webkit-transition: opacity 0.25s, color 0.25s, -webkit-box-shadow 0.25s;
  transition: opacity 0.25s, color 0.25s, -webkit-box-shadow 0.25s;
  transition: opacity 0.25s, box-shadow 0.25s, color 0.25s;
  transition: opacity 0.25s, box-shadow 0.25s, color 0.25s, -webkit-box-shadow 0.25s;
  width: 100%;
}
.formContainer form button:hover, .formContainer form button:focus, .formContainer form button:active {
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 5px 2px #f38d8d;
          box-shadow: 0px 0px 5px 2px #f38d8d;
  color: #f6f6f6;
  -webkit-transition: opacity 0.25s, color 0.25s, -webkit-box-shadow 0.25s;
  transition: opacity 0.25s, color 0.25s, -webkit-box-shadow 0.25s;
  transition: opacity 0.25s, box-shadow 0.25s, color 0.25s;
  transition: opacity 0.25s, box-shadow 0.25s, color 0.25s, -webkit-box-shadow 0.25s;
  cursor: pointer;
}

/* Blog page styling goes here */
.blog {
  background-color: #f6f6f6;
}
.blog .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blogAside {
  width: calc(35% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 60px;
}
.blogAside .asideImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blogAside .asideImgContainer img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.blogAside .firstAsideSection,
.blogAside .secondAsideSection {
  background-color: #ffffff;
  padding: 25px;
  width: 100%;
}
.blogAside .firstAsideSection h3 {
  padding-top: 30px;
}
.blogAside .firstAsideSection p {
  margin-bottom: 0;
}
.blogAside .firstAsideSection a {
  color: black;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.blogAside .firstAsideSection a:hover, .blogAside .firstAsideSection a:focus, .blogAside .firstAsideSection a:active {
  color: #227284;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  text-decoration: underline;
  font-weight: bold;
}
.blogAside .secondAsideSection {
  margin-top: 20px;
}
.blogAside .secondAsideSection ul {
  padding-left: 20px;
  list-style: inside;
}
.blogAside .secondAsideSection a {
  color: black;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.blogAside .secondAsideSection a:hover, .blogAside .secondAsideSection a:focus, .blogAside .secondAsideSection a:active {
  color: #227284;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  font-weight: bold;
  text-decoration: underline;
}

.blogContent {
  width: 65%;
}
.blogContent .blogPost {
  background-color: #ffffff;
  padding: 30px;
  padding-bottom: 60px;
  border-bottom: 5px solid #227284;
}
.blogContent .blogPost h2 {
  margin: 20px 0px 30px;
}
.blogContent .blogComment {
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ffffff;
  margin-top: 30px;
}
.blogContent .blogComment .blogCommentImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blogContent .blogComment p {
  margin: 0px;
}
.blogContent .blogComment .dateText {
  padding-top: 15px;
}
.blogContent .blogComment .commentText {
  padding-bottom: 20px;
}
.blogContent .blogCommentTextContainer {
  padding: 0px 20px 0px 20px;
}
.blogContent .commentSection {
  border-bottom: 5px solid #227284;
  margin: 50px 0px 50px;
}

.commentsForm {
  width: 100%;
  margin-left: 0;
}
.commentsForm input[type=email] {
  margin-left: 15px;
}

footer {
  background-color: #171717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0;
}